/* style.css */

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center horizontally */
  min-height: 100vh;
  /* Ensure full viewport height */
  margin: 0;
  background-color: #F8F8FF
}

h1,
h2 {
  text-align: center;
  /* Center headings */
}

.main-title {
  font-size: 5em;
  color: #597;
  /*filter: drop-shadow(5px 3px 5px #555);*/
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping to new lines */
  justify-content: center;
  /* Center horizontally */
  gap: 20px;
  /* Spacing between items */
  max-width: 1000px;
  /* Limit container width for larger screens */
  margin-bottom: 20px;
  /* Space below the grid */
}

.card {
  width: 400px;
  /* Fixed width for each card */
  height: 250px;
  /* Fixed height for each card */
  border: 1px solid #ccc;
  /* Light gray border */
  border-radius: 8px;
  /* Rounded corners */
  overflow: hidden;
  /* Hide overflowing content */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center content horizontally */
  text-align: center;
  /* Center text within card */
  padding: 10px;
  box-sizing: border-box;
  /* Include padding in width/height */
  transition: transform 0.2s;
  /* Add a transition for hover effect */
  background-color: #FAEBD7;
}

.card:hover {
  transform: scale(1.05);
  /* Slightly enlarge on hover */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* Add a subtle shadow on hover */
}


.card img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
  /* Makes sure the image fills the container without stretching */
}

.card p {
  margin: 0;
  /* Remove default paragraph margins */
  font-weight: bold;
}

.card a {
  text-decoration: none;
  /* Remove underlines from links */
  color: inherit;
  /* Inherit color from parent */
}

/* Style for the "all projects" link */
.project-link {
  display: block;
  /* Make the link a block element */
  text-align: center;
  /* Center the link text */
  margin-top: 20px;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blurb {
  hyphens: auto;
  max-width: 1000px;
}
